# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jacob Sun
	email = jacobsun000@gmail.com
[safe]
	directory = /mnt/truenas/document/Projects/Rust/rvim
[core]
	editor = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
